/* CSS files add styling rules to your content */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #1c4587;
  text-align: center;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-size: 180%;
}

h2 {
  background: #ead1dc;
  color: #741b47;
  font-family: monospace;
  text-align: center;
  font-size: 140%;
  font-weight: normal;
  margin: 0.25rem 0 0 0;
  padding: 0.5rem 0 0.5rem;
}

th {
  text-align: left;
  background: #c9daf8;
  color: #073763;
}

p {
  margin: 0;
  padding: 0.5rem;
  font-size: 105%;
}

ul {
  margin: 0;
  list-style: none;
}

.zine-li:before {
  content: '\21D2';
  margin-left: -20px;
  margin-right: 10px;
}

.zine-link {
  font-family: monospace;
  background: #c9daf8;
  color: #073763;
}

figure {
  margin: 0;
  padding: 0;
}

.captioned-img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  padding: 0 2rem 0 2rem;
  box-sizing: border-box;
}

figcaption {
  font-family: monospace;
  font-size: 80%;
  font-style: italic;
  background: #c9daf8;
  color: #073763;
  padding: 0;
  margin: 0 2rem 0 2rem;
}

.full-img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.mini-img {
  max-width: 10rem;
  padding: 0;
  margin: 0;
}

.glitchButton {
  float: left;
  padding: 1rem 0.5rem 0 0.5rem;
}

.cc-licence {
  float: right;
  margin: 1rem 0.5rem 0 0.5rem;
}

@media screen {
  body {
    max-width: 30rem;
    background: #ead1dc;
    margin: auto;
  }

  .zine {
    background: white;
    padding: 10px;
    border-left: 4px solid #741b47;
    border-bottom: 4px solid #741b47;
  }
  
  .zine-page {
    margin-top: 10px;
  }
}

@media print {
  @page {
    size: landscape;
  }
  
  body {
    font-size: 70%;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
 
  .mini-img {
    max-width: 4.4rem;
    padding: 0;
    margin: 0;
  }
  
  .zine {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 2px 2px;
    background: lightgrey;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "page-5 page-4 page-3 page-2"
      "page-6 page-7 page-8 page-1";
    justify-items: stretch;
    align-items: stretch;
  }

  .zine-page {
    display: block;
    background: white;
    box-sizing: border-box;
    padding: 0.5vh;
    overflow: hidden;
  }

  .page-5, .page-4, .page-3, .page-2 {
    transform: rotate(180deg);
  }

  .page-1 {
    grid-area: page-1;

  }

  .page-2 {
    grid-area: page-2;

  }

  .page-3 {
    grid-area: page-3;
  }

  .page-4 {
    grid-area: page-4;
  }

  .page-5 {
    grid-area: page-5;
  }

  .page-6 {
    grid-area: page-6;
  }

  .page-7 {
    grid-area: page-7;
  }

  .page-8 {
    grid-area: page-8;
  }
}
